:root {
    --background-color: #1e1e2e; /* Base */
    --card-background-color: #313244; /* Surface0 */
    --text-color: #cdd6f4; /* Text */
    --subtext-color1: #bac2de; /* Subtext1 */
    --subtext-color0: #a6adc8; /* Subtext0 */
    --icon-color: #8f93ac; /* Slightly Darker Mauve */
    --hover-color: #cba6f7; /* Mauve */
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: var(--background-color);
    padding: 20px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.about-me {
    background-color: var(--card-background-color);
    max-width: 400px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
    margin: 0;
    color: var(--text-color);
}

p {
    font-size: 16px;
    color: var(--subtext-color0);
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    color: var(--icon-color);
}

.social-icons a:hover {
    color: var(--hover-color);
}

