/**
 * @name MS Comic Sans
 * @author 2.kilo#0
 * @authorId 1113978877010788432
 * @version 1.0
 * @description Comic Sans font for Discord
 * @website https://kkilobyte.github.io/
 * @invite MUdFYE7vqW
 * **/

    @font-face {
      font-family: ComicSans;
      src: url(https://kkilobyte.github.io/css/MSComicSans/COMIC.TTF)
    }

* {
  font-family: ComicSans;
}
